* {
	box-sizing: border-box;
	margin: 0;
	padding: 0px;
	font-size: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	--priColor: black;
	--secColor: white;
	--terColor: grey;
}
#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* width: 60%; */
	background: linear-gradient(
		to right,
		rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 0%,
		rgba(254, 254, 254, 1) 100%
	);
}
.section {
	min-height: 600px;
	width: 70%;
}
/* *elements styling section */
.buttonPri {
	font-size: 100%;
	font-style: inherit;
	padding: 10px 30px;
	background-color: var(--priColor);
	color: var(--secColor);
	border: 3px var(--priColor) solid;
	margin: 10px 0;
}
.buttonSec {
	font-size: 100%;
	font-style: inherit;
	padding: 10px 30px;
	background-color: var(--secColor);
	border: 3px var(--priColor) solid;
	color: var(--priColor);
	margin: 10px 0;
}
a {
	color: var(--priColor);
	text-decoration: none;
	text-transform: uppercase;
}
a:hover {
	color: var(--terColor);
	text-decoration: underline;
}
h1,
h2,
h3,
h4 {
	margin: 10px 0px;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
	font-weight: 400;
	text-transform: uppercase;
}
textarea {
	width: 60%;
	margin: 10px 0;
}

/* *Header section */
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 20px 0;
	width: 60%;
}
nav ul {
	display: flex;
	flex-direction: row;
	list-style: none;
}
nav ul li {
	margin: 0 20px;
}
/* *home section */
#home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url(/profilePic.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
	height: 900px;
}
/* *about section */
#about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.3);
	background-color: var(--secColor);
}
#about p {
	width: 70%;
}
#bars {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
	margin: 20px 0;
	justify-content: center;
}
.barComplete {
	margin: 0 20px;
}
.bar {
	width: 300px;
	height: 23px;
	background-color: var(--terColor);
}
.progress {
	height: 23px;
	width: 200px;
	background-color: var(--priColor);
	color: var(--secColor);
	text-align: right;
}
/* *service section */
.sepBackground {
	background-image: url(/cover.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#service {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	color: var(--secColor);
}
#service p {
	width: 80%;
}
#serviceContainer {
	display: flex;
	flex-direction: row;
	margin: 20px 0;
}
.containerOne {
	margin: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* *portfolio section */
#portfolio {
	text-align: center;
}
#hours {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 40px 0;
	flex-wrap: wrap;
}
.time p {
	font-size: 50px;
}
.time h4 {
	font-size: 30px;
}
#projects {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.portfolioImg {
	height: 200px;
	width: 350px;
	background-color: var(--terColor);
	margin: 15px 5px;
	flex-grow: 1fr 1fr 1fr;
}
/* *contact section */
#contacts {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.3);
	background-color: var(--secColor);
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
input {
	width: 60%;
	margin: 10px 0px;
}
/* *footer */
footer {
	padding: 20px 20%;
	background-color: var(--terColor);
	color: var(--secColor);
}
@media only screen and (max-width: 600px) {
	.section {
		width: 100%;
	}
}
